@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  .logo {
    font-family: "Beth Ellen", cursive;
    font-size: 30px;
  }

  nav {
    width: 70%;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;

      li a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.burger {
  display: none;

  div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    z-index: 10;
    background-color: white;
    transform: translateX(100%);
    transition: .5s;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      opacity: 0;
      transition: 1.5s;

    }
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.ul-active {
  opacity: 1;
}

main {
  width: 90%;
  margin: 0 auto;
  min-height: 90vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  text-align: center;
  padding: 20px;
}